{% extends 'main/layout.html' %}

{% block title%}{{article.title}}{% endblock %}

{% block content%}
    <div class="features article_block">
        <span class="name">{{article.author_name}}</span>
        <h1 class="title">{{article.title}}</h1>
        <p class="full_text">{{article.full_text}}</p>
        <span class="date"><p>{{article.date}}</p></span>
    </div>
    <br><br>

    <div class="buttons">
        <a href="{% url 'news_update' article.id %}"><button class="btn btn-success update" type="submit">Изменить статью</button></a>
        <a href="{% url 'news_delete' article.id %}"><button class="btn btn-success delete" type="submit">Удалить статью</button></a>
    </div>

{% endblock %}